# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,vue,vuejs,yarn
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,vue,vuejs,yarn

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Vue ###
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# TODO: where does this rule come from?
docs/_book

# TODO: where does this rule come from?
test/

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache

# and uncomment the following lines
# .pnp.*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# eslint 캐시
.eslintcache

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,vue,vuejs,yarn

*.tsbuildinfo

# ignore files in folder 디렉토리명
VUE3-KAKAO-MAPS/*
# but keep the folder by keeping .gitkeep file
!VUE3-KAKAO-MAPS/.gitkeep

